@page {
  size: auto;   /* auto is the initial value */
  margin: 10%;
}


.HideInPrint img
{ 	opacity: 1.00; 
	filter: alpha(opacity=100); 
 	position: fixed;   /* get out of the flow */
}



body 
{	page: auto;
	size: auto;   /* auto is the initial value */
	page-break-inside:auto;
	page-break-before: auto;
	position: static;
  	font-size: 11pt; 
/*background-color: #f5f5dc; */	
background-color: #35624d;
/*background: url("./wuerfel3eisi.jpg");*/
}
    

/* Links are always blue, but allow surounding style */
#nav
{ 	z-index: 1;
	position: fixed;   /* get out of the flow */
 	top: 180px;
  	left: 8px;
	width: 140px;
  	font-size: 10pt; 
	/*color: #b30202;*/
        color: #74b496;
	padding: 0px;
	font-weight: normal; 
       	font-family: Arial, Helvetica, sans-serif;
	//color: #444;
}



#nav a, #nav a:visited, #nav a:hover
{	font-size: 10pt; 
}

#nav emph
{	font-weight: 600;
	text-color: red;
}

#nav a, #nav a:visited
{ 	color: #74b496; 
	text-decoration: none;
	display:block;
	width:130px;
	padding:3px; 
	border-top:0px solid;	
	border-left: 0px solid;
	border-bottom:1px solid;	
	border-right:1px solid;
	border-color: #74b496;
}

#nav a:hover
{ 	/*color: #006bd7;*/
        color: #74b496; 
	background-color: #fefcf4; */hier linker Nav-Balken*/
                	/*//background: url("");*/
	//
        /*background: #7EADD9;*/
        background: #004774;
	text-decoration: none;
	display:block; 
	width:130px;
	padding:3px; 
	/*border-top:1px inset;*/
        border-top: 0px inset;	
	border-left: 0px inset;
	/*border-bottom:0px inset;*/
        border-bottom: 1px inset;	
	/*border-right:1px inset;*/
        border-right: 1px inset;
	/*border-color: #006bd7;*/
        border.color: #004774;
}

#nav img
{ 	position: fixed;   /* get out of the flow */
  	top: 0px;
  	left: 0px;
}





#content
{	position: absolute;   /* get out of the flow */
  	top: 0px;
  	left: 180px;
  	width: 600px;
	//height: 100%;
	//bottom: auto;
	padding: 20px;
	font-weight: normal; 
	font: 10pt/14pt georgia; 
        font-family: georgia, 'Times New Roman', Times, Palatino, serif;
        /*font-family: arial, 'Arial', Arial, Arial, serif;*/
        color: white;
//	background: #ffffff;
}    

#content p
{	font: 10pt/14pt georgia; 

}


#content b
{	font: 10pt/14pt georgia; 
	font-style: italic; 
}

#content table, 
{	/*border-color: #006bd7;*/
        border-color: #004774;
}

#content tr, #content td
{	vertical-align: top; 
	text-align: left;

}
#content a, #content a:visited{ 	
	/*color: #006bd7;*/
        color: #4D7E9E;
	text-decoration: none;

}

#content hr
{	/*color: #006bd7;*/
        color: #white;
	background-color: #white;
	border: thin solid shadow; 
}

#content bottom
{	color: #006bd7;
	border: thin solid; 
}

#content a:hover 
{ 	/*color: #006bd7;*/
        color: #004774;	
	#text-decoration: underline;
	border-bottom: 1px dotted;
	/*border-color: #006bd7;*/
        border-color: #004774;
}
    	
p
{ 	page-break-before: auto;
 	page-break-after: auto;
 	page-break-inside: auto;
	font-size: 12pt; 
	color: black;
	font-weight: normal; 
       	font-family: inherit;
}


 
/* Our bold is actually a semi-bold */
 
#content b
{ 	font-weight: 600; 
}

#content small
{ 	font-size: 0.9em; 
}

#content emph
{ 	font-style:italic;
}

	
H1 
{ 	page-break-before: auto;
 	page-break-after: avoid;
	font: 24pt/30pt georgia; 
	font-weight: normal; 
	margin:30pt 0 20pt 0;
}

H2 
{ 	page-break-before: auto;
 	page-break-after: avoid;
	font: 18pt/24pt georgia; 
	font-weight: normal; 
	margin:30pt 0 10pt 0;
}

H3 
{ 	page-break-before: auto;
 	page-break-after: avoid;
	font-weight: normal; 
	font: 12pt/14pt georgia; 
	font-style: italic;
}
	
H4 
{ 	page-break-before: auto;
 	page-break-after: avoid;
	font-weight: normal; 
}
	
section 
{	page-break-before: auto;
 	page-break-after: avoid;
	font-weight: normal; 
	font-size: 14pt;
	//font-style: italic;
	text-align: left;
}
	
subsection 
{	page-break-before: auto;
 	page-break-after: avoid;
	font-weight: normal; 
	font-size: 12pt;
	text-align: left;
}




#LowerBar
{ 	position: fixed;   /* get out of the flow */
	/*background: url("./eule_startseite_kl_01.gif");*/
background-color: #fffff0;
	bottom: 5px;
  	right: 5px;
	width: 170px;
	font-size: 9pt; 
	/*color: #006bd7;*/
        color: #004774;
	padding: 2px;
	font-weight: normal; 
       	font-family: Arial, Helvetica, sans-serif;
 	opacity: .85; 
	filter: alpha(opacity=85); 
	border: 1px dotted #a1a5a9;
}



#LowerBar emph
{ 	padding:4px 4px 4px 10px;
	color: #006bd7;
	border-top: 0px solid;	
	border-bottom:1px solid #a1a5a9;	
	border-color: #a1a5a9;
	display:block;
	font-weight: 400;
	font-variant: small-caps;
}

#LowerBar a, #LowerBar a:visited, #LowerBar a:hover
{ 	display:block;
	background-color: #fcfcfc;
        padding:5px 4px 4px 10px;
	border-top: 1px dotted;		
	border-left: 0px solid;
	border-bottom:0px dotted;	
	border-right:0px solid;
	border-color: #006bd7;
	text-decoration: none;	
}


#LowerBar a, #LowerBar a:visited
{ 	color: #006bd7;
}

#LowerBar a:hover
{ 	/*color: #0080ff;*/
        color: #004774;
//	background: url("./eule_startseite_kl_01.gif");
	background-color: #eeeeff;
	border-top: 1px dotted;	
	border-left: 0px inset;
	border-bottom:0px solid;	
	border-right:0px solid;
	border-color: #006bd7;
}



#Term
{ 	position: fixed;   /* get out of the flow */
	top: 79px;
  	left: 150px;
	width: 860px;
	font-size: 9pt; 
	color: #ffffff;
	background-color: #006bd7;
//	background-color: #cccccc;
	padding:2px 2px 2px 2px;
	font-weight: normal; 
       	font-family: Arial, Helvetica, sans-serif;
// 	opacity: .75; 
//	filter: alpha(opacity=50); 
	border: 5px solid #006bd7;//#cccccc;
	border-bottom:0px dotted;
}




#Term a, #Term a:visited, #Term a:hover
{ 	width: 100px;
	color: #006bd7;
 	background-color: #fffff0;
	padding:1px 2px 1px 2px;
	border-top: 1px outset;		
	border-left: 1px outset;
	border-bottom:0px dotted;	
	border-right:1px outset;
	border-color: #dddddd;
	text-decoration: none;	
}




#Term a:hover
{	color: #006bd7;
	background-color: #ddddff;
	border-top: 1px inset;	
	border-left: 1px inset;
	border-bottom:0px solid;	
	border-right:1px inset;
	border-color: #dddddd;
}

#Term selected a:hover
{	color: #006bd7;
	background-color: #ddddff;
	border-top: 1px inset;	
	border-left: 1px inset;
	border-bottom:0px solid;	
	border-right:1px inset;
	border-color: #dddddd;
}

