@page {
  size: auto;   /* auto is the initial value */
  margin: 10%;
}

#nav, #LowerBar, HideInPrint
{ 	display: none;
}

.HideInPrint
{ 	opacity: 0.00; 
	filter: alpha(opacity=0); 
	display: none;
}


body {	page: auto;
	size: auto;   /* auto is the initial value */
	page-break-inside:auto;
	page-break-before: auto;
	background-color:  #ffffff;
}

table
{	page-break-inside:allow;
	page-break-before: auto;
}
    
#nav
{ 	display: none;
	opacity: .0; 
	filter: alpha(opacity=00); 
}





#content
{	position: relative;   /* stay in the flow */
	page-break-inside: auto;
 	page-break-before: auto;
 	page-break-after: auto;
  	top: 0px;
  	left: 0px;
	font-weight: normal; 
	font-size: 12pt;
        font-family: 'Times New Roman', Times, Palatino, serif;
        color: black;
//	background: url("./wuerfel3eisi.jpg");
background-color: #fffff0;
//	background: #006bd7;
}    


#content p
{	page-break-inside: auto;
 	page-break-before: auto;
 	page-break-after: auto;
}

#content table
{	border-color: #006bd7;
	

}
#content a, #content a:visited, #content a:hover , #content a:active
{ 	font-size: 12pt; 
	color: black;
	font-weight: normal; 
       	font-family: inherit;
	text-decoration: none;

}

#content hr
{	color: #006bd7;
	background-color: #0080ff;
	border: thin solid shadow; 
}

bottom
{	color: #006bd7;
	border: thin solid; 
}

p
{ 	font-size: 12pt; 
	color: black;
	font-weight: normal; 
       	font-family: inherit;
	page-break-inside: auto;
	page-break-before: auto;
	page-break-after: auto;
}


 
/* Our bold is actually a semi-bold */
 
#content b
{ 	font-weight: 600; 
}


#content emph
{ 	font-style:italic;
	margin-right: 20px;
}

	
#content H1 
{ 	page-break-before: auto;
 	page-break-after: avoid;
	font-size: 24pt; 
	font-weight: normal; 
}

#content H2 
{ 	page-break-before: auto;
 	page-break-after: avoid;
	font-size: 20pt;
	font-weight: normal; 
}

#content H3 
{ 	page-break-before: auto;
 	page-break-after: avoid;
	font-weight: normal; 
	font-size: 14pt;
	font-style: italic;
}
	
#content H4 
{ 	page-break-before: auto;
 	page-break-after: avoid;
	font-weight: normal; 
	font-size: 12pt;
}
	
#content section 
{ 	page-break-before: auto;
 	page-break-after: avoid;
	font-weight: normal; 
	font-size: 14pt;
	//font-style: italic;
	text-align: left;
}
	
#content subsection 
{ 	page-break-before: auto;
 	page-break-after: avoid;
	font-weight: normal; 
	font-size: 12pt;
	text-align: left;
}




#LowerBar
{ 	color: #FFFFFF;
	background-color: #ffffff;
 	opacity: .0; 
	filter: alpha(opacity=00); 
	display: none;
}

